#baseboard {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  background-color: #303434;
}

#baseboard .linha {
  background-color: white;
  width: 1px;
}

#baseboard h2 {
  color: #f26651;
}

#baseboard p {
  color: white;
}

#baseboard img {
  width: 130px;
}