@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap");

#pagina {
  background-color: #303434;
}

#registro {
  height: 90vh;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#buttons button {
  border: none;
  border-radius: 5px;
  font-family: "DM Mono", monospace;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 10px 35px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#buttons .ativo {
  background-color: #f26651;
  color: #ffffff;
}

#buttons .inativo {
  background-color: #ffffff;
  color: #000000;
}

#buttons button:hover {
  background-color: #bb5242;
  cursor: pointer;
  color: #f2f2f2;
}
