@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap");

#Register .register-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#Register .register-header {
  display: flex;
  justify-content: column; 
  align-items: column; 
  width: 100%;
  padding: 50px 0; 
  background-color: #333;
}

#Register .logo {
  width: 150px; 
}

#Register .user-icon {
  font-size: 24px;
  color: #fff;
}


#Register .register-form {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
}


#Register .register-title {
  color: #ff6b61;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

#Register .form-group input[type="text"], #Register .form-group input[type="email"], #Register .form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #ddd;
  box-sizing: border-box;
}


#Register .register-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "DM Mono", monospace;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 10px 35px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#Register .register-button:hover {
  background-color: #e65a50;
}
