@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');

#Report {
    font-family: 'DM Mono', monospace;
}

#Report h1 {
    color: #f26651;
    text-align: center;
}

#Report #filtro {
    background-color: #f26651;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

#Report #filtro #classificacao {
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

#Report #filtro #classificacao img {
    width: 38px;
}

#Report #filtro #classificacao h3 {
    font-weight: 300;
    text-align: center;
    padding-left: 125px;
}

#Report #filtro #data {
    display: block;
    text-align: center;
}

#Report #filtro #data input[type="date"] {
    background-color: #d9d9d9;
    font-family: 'DM Mono', monospace;
    margin: 10px;
    border: 0;
}

#Report #filtro #data input[type="date"]:hover {
    cursor: pointer;
}

#Report #filtro #data input[type="submit"] {
    font-family: 'DM Mono', monospace;
    background-color: #f26651;
    color: white;
    border: 0;
    padding: 5px;
}

#Report #filtro #data input[type="submit"]:hover {
    cursor: pointer;
    background-color: #da5a46;
}

#Report .linha {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

#Report .popup {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 60vh;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

#Report .popup h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

#Report .popup div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#Report .popup button {
    background-color: #F26651;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#Report .popup button:hover {
    background-color: #D9543D;
}
