@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');

#baseboard {
  font-family: 'Dm Mono', monospace;
  background-color: #303434;
  color: #D6D7D7;
}

#button1 {
  background: linear-gradient(90deg, #f79e68, #f26651);
  transition: background 0.3s; 
}

#button2 {
  background-color: #ffffff;
}

#button1, #button2 {
  font-family: 'Dm Mono', monospace;
  cursor: pointer;
  border-radius: 30px;
  width: auto;
  height: 54px;
  padding: 16px 23px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

#button1 {
  color: #D6D7D7;
}

#button2 {
  color: #F26651;
}

#container-button {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#button1 a, #button2 a {
  color: inherit;
}

#button1:hover {
  background: linear-gradient(90deg, #d88b6b, #c44a3e); 
}

#textos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#text2 {
  text-align: right;
}

img {
  width: 140px;
}

figure {
  display: flex;
  justify-content: center;
}
