@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');

#etiqueta {
    background-color: #f26651;
    border-radius: 20px; 
    width: 250px; 
    height: 400px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    font-family: 'DM Mono', monospace;
}

#etiqueta h2, #etiqueta h3, #etiqueta h4, #etiqueta p {
    text-align: center;
    margin: 10px 0; 
}

#etiqueta #etiqueta-h3, #etiqueta #etiqueta-h4 {
    background-color: #d9d9d9;
    width: 100%; 
    padding: 10px;
    border-radius: 10px; 
}

#etiqueta #etiqueta-p {
    background-color: #797979;
    width: 100%;
    padding: 15px;
    border-radius: 10px; 
    color: white;
    font-size: 12px; 
}

#etiqueta #etiqueta-p {
    padding: 35px;
}

#etiqueta h2, #etiqueta p {
    color: white;
}

#etiqueta #etiqueta-h4 a {
    text-decoration: none;
    color: inherit;
}